:root {
    --bg-color: #f06292;
    --todo-dark-bg: #222428;
    --todo-light-bg: #3C424A;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    background-color: var(--bg-color);
    color: white;
}

main {
    width: 60%;
    box-shadow: rgb(74, 74, 74) 5px 20px 50px;

    margin: 0 auto;
}

main header {
    width: 100%;

    text-align: left;

    background-color: var(--todo-dark-bg);
    /* background: url(./img/themes.png) center center none;
    background-size: cover; */

    padding: 4em 0em 4em 2em;
}
main header span {
    display: block;

    margin-bottom: .2em;
}

main header .question {
    font-size: 20px;
    font-weight: bold;
}

main header .todo-day {
    font-size: 40px;
    font-weight: bolder;
    color: var(--bg-color);
}

main header .todo-date {
    color: lightgray;
}

/* Todo conatiner styles */

main .todo-container {
    width: 100%;
    height: 100%;

    margin: 0 auto;

    background-color: var(--todo-light-bg);

    padding: 1em 2em;
}

.todo-container .add-todo-container {
    width: 100%;

    padding: 1em 2em;
    margin-bottom: 1em;

    text-align: center;
}

.todo-container .add-todo-container #input-todo-text {
    width: 60%;

    padding: 1em 2em;
    margin-right: 1rem;
}

.todo-container .add-todo-container #input-todo-text::placeholder {
    color: var(--bg-color);
}

.todo-container .add-todo-container #add-todo-btn {
    width: 15%;

    padding: 1em;
    margin-left: auto;

    transition: all .6s;
}

.todo-container .add-todo-container #add-todo-btn:hover,
.todos-contanier .todos .todo .btns-container .btn:hover {
    cursor: pointer;
    background-color: var(--bg-color);
    color: var(--todo-dark-bg);
}

.todo-container .add-todo-container #add-todo-btn,
.todo-container .add-todo-container #input-todo-text,
.todos-contanier .todos .todo .btns-container .btn {
    font-weight: bold;
    outline: none;
    border: #f06292 1px solid;
    color: var(--bg-color);
    background-color: var(--todo-dark-bg);
}

/* Todos-container styles */

.todos-contanier {
    width: 100%;

    padding: 1em 2em;
    margin-bottom: 1em;
}

.todos-contanier .todos {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;

    background-color: var(--todo-dark-bg);
    border: 2px var(--bg-color) solid;
}

.todos-contanier .todos .todo {
    width: 100%;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;

    padding: .8em 1em;
}

.todos-contanier .todos .todo .todo-txt::placeholder{
    font-weight: bold;
    color: var(--bg-color);
}

.todos-contanier .todos .todo .todo-txt {
    width: 60%;

    padding: .8em 1em;

    font-weight: bold;
    color: var(--bg-color);
    caret-color: var(--bg-color);

    outline: none;
    border: none;
    background-color: var(--todo-dark-bg);
}

.todos-contanier .todos .todo .btns-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    
}

.todos-contanier .todos .todo .btns-container .btn {
    margin-left: .8em;
    padding: 1em;

    transition: all .6s;
}

@media (max-width: 920px) {
    main {
        width: 90%;
    }
}