:root {
    --bg-color: #f06292;
    --todo-dark-bg: #222428;
    --todo-light-bg: #3C424A;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Tahoma, sans-serif;
    background-color: var(--bg-color);
    color: white;
    text-align: center;
}


main {
    position: relative;
    width: 100%;
    height: 80vh;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0;
}

header {
    position: absolute;

    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 60%;

    text-align: left;
    text-indent: 3rem;

    /* background-color: var(--todo-light-bg); */
    background: url(./img/dark_mode.png) no-repeat center;
    background-size: cover;
}

header span {
    position: absolute;
    
    display: block;

    padding: 0.5rem 0rem;

    text-transform: capitalize;
}

header .question {
    top: 1%;
    
    margin-top: 1rem;

    font-size: large;
    font-weight: bold;
}

header .todo-day {
    top: 30%;

    font-size: 3rem;
    font-weight: bolder;
}

header .todo-date {
    bottom: 10%;

    font-size: 0.8rem;
    font-weight: lighter;
}

.todo-container {
    position: absolute;
    top: 40%;
    left: 0%;
    right: 0%;
    
    background-color: var(--todo-dark-bg);
}

.todo-container .add-todo-container {
    display: flex;
    justify-content: center;
    align-content: center;

    padding: 1rem;
    margin-top: auto;
}

.todo-container .add-todo-container #input-todo-text, .todo-container .add-todo-container #add-todo-btn {
    border: none;
    outline: none;
    border-radius: 0.3rem;

    font-weight: bold;
} 

.todo-container .add-todo-container #input-todo-text{

    padding: 1em 8em 1em 1em;
    margin-right: 1rem;
    
    border: none;
    outline: none;
    border-radius: 0.3rem;
}

.todo-container .add-todo-container #add-todo-btn {
    padding: 1em;
}

.todos-contanier {
    /* width: 100%;
    height: 50vh; */
    
    position: absolute;
    
    margin-top: 5rem;

    top: 0%;
    left: 0%;
    right: 0%;
    
}

.todos-contanier .todos {
    width: 100%;
    height: auto;

    list-style: none;

    display: flex;
    flex-direction: column;
    gap: 1rem 0rem;
    justify-content: center;
    align-items: center;
    align-content: center;

    /* background-color: aqua; */
    padding: 1rem;
}


.todos-contanier .todos .todo {
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;

    width: 90%;

    padding: .8rem;
    
    
    background-color: var(--todo-light-bg);
    border: 2px solid white;
    outline: none;
    border-radius: 0.3rem;

    font-weight: bold;
}

.todos-contanier .todos .todo .todo-txt {
    text-align: left;
    text-indent: 1em;
    width: 60%;
    padding: 1rem;

    /* background-color: #f06292; */
}

.todos-contanier .todos .todo .btns-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;

    width: 40%;

    padding: 0.8em;
    
    /* background-color: #3C424A; */
}

.todos-contanier .todos .todo .btns-container .btn {
    outline: none;
    border: none;
    border-radius: .2rem;

    padding: 0.5rem 0.5rem;

    font-weight: bold;
}

.todos-contanier .todos .todo .btns-container .todo-rm {
    color: white;
    background-color: red;
}

.todos-contanier .todos .todo .btns-container .todo-mod {
    color: white;
    background-color: darkcyan;
}

/* @media (orientation: portrait), (width: 1020px) {
    .todo-container .add-todo-container #input-todo-text{

        padding: 1.5em 6em 1.5em 2em;
        margin-right: 1rem;
    }
    
    .todos-contanier .todos {
        margin-top: 2rem;
    }

    .todos-contanier .todos .todo {    
        width: 50%;
        padding: .6rem;
    }
} */

/* @media (orientation: portrait), (max-width: 450px) {
    
}

@media (orientation: portrait), (max-width: 715px) {
    
} */


/* TODO: Make the mobile version first
    where the haeder has a color background
    But when the size of the screen is big make it an image
    Also Change the add task container for med and big screens
    and lastlu=y the todos make the btns make them lok good too